.grid-container {
  display: grid;
  grid-template-columns: 100%;
  margin: 0;
  z-index: 99;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  
}

@media (min-width: 700px) {
  .grid-container {
  grid-template-columns:100%;
}
.grid-item {
  padding: 20px;
}
}
