* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.btn{
  padding: 6px;
  background: #333;
  color: white;
  border-radius: 5px;
}

.btn > a{
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}


#detailedBox{
  border: 1px solid #333;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

/* .createBox{
  display: none;
} */
/* #shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
} */

.bookmarkItem {
  /* display: block; */
  color: #666;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 25px;
  border: 1px solid #333;
  padding:10px;
}

.shopping-item__checked {
  text-decoration: line-through;
}